<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--채팅용 TCP 채널-->
    <add key="addr" value="net.tcp://192.168.0.33:8000/Chating"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="ChatingServer_0510.ChatService" behaviorConfiguration="FileServiceBehavior">
        <host>
          <baseAddresses>
            <!--WSDL을 주기위해서 사용함-->
            <add baseAddress="http://192.168.0.33:9000/GetService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="DuplexBinding"
              contract="ChatingServer_0510.IChat" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <!--사용하는 버퍼의 크기, 이거 안쓰면 그냥 netTcpBinding 기본값이 적용됨, 보통은 기본 값쓰면 충분함-->
        <binding name="DuplexBinding" maxBufferSize="2147483647" maxConnections="100" maxBufferPoolSize="524288"
          maxReceivedMessageSize="2147483647">
          <reliableSession enabled="true" />
          <!--인증모드 쓰지 않겠다는 의미-->
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FileServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
