<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <system.serviceModel>
      
        <bindings>
            <basicHttpBinding>
                <binding name="MtomSetting" messageEncoding="Mtom" />
            </basicHttpBinding>
        </bindings>
        <!--Address ABC-->
        <services>
            <service behaviorConfiguration="MyBankBehavior" name="ServiceApp.Bank">
                <endpoint address="" binding="basicHttpBinding" contract="ServiceApp.IBank" />
                
                <host>
                    <baseAddresses>
                        <add baseAddress="http://192.168.0.33/wcf/example/Bank" />
                        <add baseAddress="net.tcp://localhost/wcf/example/helloworldservice" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <!--WSDL-->
        <behaviors>
            <serviceBehaviors>
                <behavior name="MyBankBehavior"><!--막짓는 이름이다. 아무렇게나 짓쟈-->
                    <serviceMetadata httpGetEnabled="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>

</configuration>