<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="wb271dbconnect" connectionString="Data Source=user-pc;Initial Catalog=wb271;Persist Security Info=True;User ID=ccm;Password=ccm"
      providerName="System.Data.SqlClient" />
    <add name="Server_0423.Properties.Settings.wb271ConnectionString"
      connectionString="Data Source=user-pc;Initial Catalog=wb271;Persist Security Info=True;User ID=ccm27;Password=ccm"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- 
    <add key="wbServerIp" value="192.168.0.52"/>-->
    
    <add key="wbServerPort" value="7000"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>-->

