<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <system.serviceModel>
      
        <bindings>
            <basicHttpBinding>
                <binding name="MtomSetting" messageEncoding="Mtom" />
            </basicHttpBinding>
        </bindings>
        <!--Address ABC-->
        <services>
            <service name="ServiceApp.CCal" behaviorConfiguration="MyCalBehavior"><!--Behavior는 아래에 적은 WSDL을 위한 코드에서 name값으로 만들어뒀음  -->
                 <host>
                    <baseAddresses>
                        <add baseAddress="http://192.168.0.33/wcf/example/cal"/>
                        <add baseAddress="net.tcp://localhost/wcf/example/helloworldservice"/>
                    </baseAddresses>
                </host>
                <endpoint contract="ServiceApp.ICal" address="" binding="basicHttpBinding"/>
                <endpoint contract="ServiceApp.ICal" address="" binding="netTcpBinding"/>
            </service>
        </services>
        <!--WSDL-->
        <behaviors>
            <serviceBehaviors>
                <behavior name="MyCalBehavior"><!--막짓는 이름이다. 아무렇게나 짓쟈-->
                    <serviceMetadata httpGetEnabled="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>

</configuration>