<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICal" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICal" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.33/wcf/example/cal" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICal" contract="ServiceReference1.ICal"
                name="BasicHttpBinding_ICal" />
            <endpoint address="net.tcp://localhost/wcf/example/helloworldservice"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICal"
                contract="ServiceReference1.ICal" name="NetTcpBinding_ICal">
                <identity>
                    <userPrincipalName value="DESKTOP-3QV6Q1U\User" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>