<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IChat">
                    <reliableSession enabled="true" />
                    <security mode="None" />
                </binding>
              <!--
                <binding name="NetTcpBinding_IFile">
                    <reliableSession enabled="true" />
                    <security mode="None" />
                </binding>
           -->
            <binding name="NetTcpBinding_IFile" maxReceivedMessageSize="2147483647" closeTimeout="10:00:00" maxBufferSize="2147483647" receiveTimeout="10:00:00"  maxBufferPoolSize="2147483647" >
              <reliableSession enabled="true" />
                    <security mode="None" />
            </binding>   
            
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://192.168.0.33:8000/Chating" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IChat" contract="ServiceReference1.IChat"
                name="NetTcpBinding_IChat" />
            <endpoint address="net.tcp://192.168.0.33:3000/FileService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IFile" contract="ServiceReference2.IFile"
                name="NetTcpBinding_IFile" />
        </client>
    </system.serviceModel>
</configuration>